@using ViewModels
@model StudentIndexModel

<h2>Student Register</h2>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Student Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>
                    @student.Forename
                </td>
                <td>
                    @student.Surname
                </td>
                <td>
                    18922585
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dataTable").DataTable();
        });
    </script>
}

